language: node_js
node_js:
  - "8"
cache:
  directories:
    - node_modules
install: npm install
jobs:
  include:
    - stage: test
      script: bash ./travis/test.sh
dist: trusty
sudo: false
after_success: npm run coverage
