html {
  padding-top: 100px;
}
hr {
  padding: 20px;
  border: none;
}
input.email {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
#mailchimp {
  max-width: 500px;
  border-radius: 5px;
  background: #f0f0f0;
  padding: 20px 20px 10px;
  margin: 0 auto;
}
.align-right{
  text-align: right;
}
.logo {
  text-align: center;
}
.logo img {
  width: 300px;
}
a.badge {
  display: none;
}
a.badge img {
  width: 80px;
}
img.logo {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
img.avatar {
  width: 50px;
}
table {
  margin: 20px 0;
  table-layout: fixed;
  width: 100%;
}
#twitter {
  overflow: auto;
}
.header {
  text-align: center;
  padding: 20px;
}
blockquote {
  margin: 10px 0;
  padding: 0 15px;
  color: rgba(0,0,0,0.8);
  border-left: 3px solid rgba(0,0,0,0.8);
}
body {
  max-width: 800px;
  font-family: HelveticaNeue, helvetica, arial;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  box-sizing: border-box;
  color: rgba(0,0,0,0.7);
}
.btn {
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 40px;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
}
.btn-primary {
  border: 2px solid rgba(0,0,0,0.8);
  color: white;
  background: rgba(0,0,0,0.8);
}
.btn-secondary {
  border: 2px solid rgba(0,0,0,0.8);
  color: rgba(0,0,0,0.8);
}
pre {
  font-size: 14px;
  line-height: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
pre code {
  background: #f0f0f0 !important;
  display: block;
  padding: 20px !important;
}
code {
  border-radius: 2px;
  padding: 0px 3px !important;
  background: #f0f0f0 !important;
}
td {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  margin: 0;
  border: none;
  background: whitesmoke;
}
th {
  padding: 10px;
  margin: 0;
  font-size: 14px;
  border: 1px solid whitesmoke;
}
h1 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}
img {
  width: 100%
}
div.content {
  background: white;
  padding: 100px 10px;
}
p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
h2 {
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  margin-top: 30px;
  margin-bottom: 20px;
}
h3 {
  color: black;
  font-size: 18px;
}
h3 a {
  color: rgba(0,0,0,0.8);
  text-decoration: underline;
  padding: 20px 0;
  display: inline-block;
}
a {
  font-weight: bold;
  color: #0366d6;
}
ol {
  padding: 20px;
}
h4 {
  margin: 0;
}
.mc-field-group {
  margin: 10px 0;
}
.mc-field-group input {
  border: none;
  outline: none;
}
h5 {
  font-family: Merriweather;
  font-size: 14px;
}
li {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}
li:before {
  content: \\0BB \\020;
}
ul {
  list-style: none;
  -webkit-padding-start: 20px;
}
#widget{
  background: #191919;
  max-height: 400px;
  padding-top: 20px;
  overflow: auto;
  border-radius: 10px;
}
#widget h1{
  margin: 0;
  color: white;
  font-size: 60px;
  text-align: center;
  width: 100%;
  display: block;
}
#widget .timestamp{
  font-size: 12px;
  text-align: center;
  width: 100%;
  color: gray;
}
#widget .row{
  padding: 10px;
  margin: 10px;
  -webkit-transition: all 1s ease-out, opacity 1s ease-out;
  -moz-transition: all 1s ease-out, opacity 1s ease-out;
  transition: all 1s ease-out, opacity 1s ease-out;
  overflow:hidden;
  border-bottom: 1px solid rgba(255,255,255,0.04);
  padding-bottom: 20px;
  max-height: 600px;
  opacity: 1;
}
#widget .row.hidden{
  opacity: 0;
  max-height: 0;
}
#twitter .container{
  width: 500px;
  max-width: 100%;
}
#twitter .item{
  position: relative;
  padding: 10px;
  margin: 10px;
  max-height: 600px;
  -moz-transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  top: 0px;
  opacity: 1;
  overflow: hidden;
}
#twitter .item.hidden{
  opacity: 0;
  top: -100px;
  max-height: 0px;
}
#twitter{
  background: #191919;
  font-size: 12px;
  color: rgba(255,255,255,0.8);
  max-height: 400px;
  border-radius: 10px;
}
#twitter h5{
  color: #FFA100;
  font-family: Merriweather, serif;
  font-size: 17px;
}
#twitter img.avatar {
  border-radius: 24px;
}
#twitter .media-body img{
  width: 100%;
  margin: 10px;
  box-sizing: border-box;
}
